* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
    scroll-behavior: smooth;
}

a {
    width: 200px;
}
.button-nofill {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #3CC1AB;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #3CC1AB;
    transition: 0.2s ease;
}
.button-nofill:hover {
    background: #3CC1AB;
    color: white;
    cursor: pointer;
}


.title {
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0;
}
.title-header{
    font-size: 30px;
    font-weight: 900;
    padding: 20px 0;
}
.para {
    font-size: 15px;
    padding: 20px 0;
}

.card-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.card-para {
    padding: 0 30px;
}

.logo img {
    width: 50px;
}


.header {
    width: 100vw;
    min-height: 10vh;
    text-align: center;
    margin-top: 20px;
}

.container-landing {
    /* border: 1px dashed green; */
    width: 100vw;
    min-height: 90vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.container {
    /* border: 1px dashed black; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-reverse {
    /* border: 1px dashed green; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.container-cards {
    /* border: 1px dashed red; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-wrapper {
    /* border: 1px dashed green; */
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    /* border: 1px solid black; */
    width: 400px;
    min-height: 500px;
    margin: 10px;
    background: transparent;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;
}

.card img {
    width: 80%;
}

.card:hover {
    background: white;
    box-shadow: 0 0 150px rgb(245, 241, 241);
}

.card-content {
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
}

.contact {
    /* border: 1px solid black; */
    width: 100vw;
    min-height: 25vh;
    background: #FCF3F3
}

.contact-content {
    width: 100%;
    min-height: 25vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.box {
    /* border: 1px solid black; */
    width: 600px;
    min-height: 600px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.picture-box {
    /* border: 1px dashed green; */
    width: 600px;
    min-height: 600px;
    margin: 10px;
}




@media screen and (max-width: 1240px) {
    .box {
        align-items: center;
        min-height: auto;
    }

    a {
        width: 100%;
    }
}
@media screen and (max-width: 843px) {
    .picture-box {
        min-height: auto;
    }  

    .card {
        background: white;
        box-shadow: 0 0 20px rgb(236, 229, 229);
    }
    .card:hover {
        box-shadow: 0 0 20px rgb(236, 229, 229);
    }
}
