* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
    scroll-behavior: smooth;
}

.buttons {
    /* border: 1px dashed red; */
    margin-top: 10px;
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-fill {
    width: 200px;
    padding: 15px 0;
    font-size: 20px;
    color: white;
    background: #3CC1AB;
    border-radius: 50px;
    border: none;
    transition: 0.2s ease; 
}
.button-fill:hover {
    background: rgb(48, 170, 150);
    cursor: pointer;
}
.button-nofill {
    width: 200px;
    padding: 15px 0;
    font-size: 20px;
    color: #3CC1AB;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #3CC1AB;
    transition: 0.2s ease;
}
.button-nofill:hover {
    background: #3CC1AB;
    color: white;
    cursor: pointer;
}

.title {
    font-size: 45px;
    font-weight: 900;
    padding: 20px 0;
}
.title-header{
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0;
}
.para {
    font-size: 20px;
    padding: 20px 0;
}

.card-title {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}
.card-para {

}

header {
    width: 100vw;
    height: 150px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header img {
    width: 80px;
}

.container {
    /* border: 1px dashed black; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-reverse {
    /* border: 1px dashed red; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.container-contact {
    /* border: 1px solid black; */
    width: 100vw;
    min-height: 30vh;
    padding: 50px 200px;

    background: #FCF3F3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}



/* if you change box width and height for pictures, make sure to change it for media screen too */
.box {
    /* border: 1px solid black; */
    width: 800px;
    min-height: 800px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.picture-box {
    /* border: 1px dashed green; */
    width: 800px;
    min-height: 800px;
    margin: 10px;
}



.container-cards {
    /* border: 1px dashed red; */
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-wrapper {
    /* border: 1px dashed green; */
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    /* border: 1px solid black; */
    width: 400px;
    min-height: 650px;
    margin: 10px;
    background: transparent;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;
}

.card img {
    width: 80%;
}

.card:hover {
    background: white;
    box-shadow: 0 50px 100px rgb(245, 241, 241);
}

.card-content {
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
}


@media screen and (max-width: 1640px) {
    .box {
        align-items: center;
        min-height: auto;
    }
}

@media screen and (max-width: 1120px) {
    .card-wrapper {
        
    }
}

@media screen and (max-width: 820px) {
    .picture-box {
        min-height: auto;
    }   

    .buttons {
        width: 90vw;
        align-items: flex-start;
        flex-direction: column;
    }

    button {
        margin-bottom: 10px;
    }

    .button-fill {
        width: 90vw;
    }
    .button-nofill {
        width: 90vw;
    }

    .card {
        background: white;
        box-shadow: 0 0 20px rgb(236, 229, 229);
    }

    .container-contact {
        padding-left: 10px;
    }
}

@media screen and (max-width: 450px) {
    
}